<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gamers Cafe :: Add Game</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">

    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,700,700italic,900,400italic,400,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
    
    <!-- JS Files -->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/vendor/angularfire.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>

    <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body ng-app="gamerscafe">

<!-- Nav Top Bar -->
<div class="top_bar">
    <!--<div class="top_half_bar"></div>-->
    <div class="bars row">
        <div id="logo">
            <!-- LOGO -->
            <img src="img/logo.png" alt="Logo"> <!-- END LOGO -->
        </div>
        <div class="user_panel">
            <img src="img/sm_profile.png" alt="Small Profile Picture">
            <a href="#">Erwin Angeles</a>
            <i class="icon-gear"></i>
        </div>
    </div><!-- End top_half_bar -->
</div><!-- End top-bar -->

<div id="top">
<!--<div id="logo" class="row">-->
<!--&lt;!&ndash; LOGO &ndash;&gt;-->
<!--<object data="img/logo.svg" type="image/svg+xml" class="gamer_logo">-->
<!--</object> &lt;!&ndash; END LOGO &ndash;&gt;-->
<!--</div>-->

<!-- Navigation -->
<div id="main_nav" class="row">
    <nav class="top-bar">
        <section class="top-bar-section">
            <ul class="right top_nav">
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li id="mobile_menu" class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                <li><a href="#"><i class="icon-home home_icon"></i></a> </li>

                <li class="divider"></li>
                <li class="active"><a href="#">League/Tournaments</a></li>
                <li class="divider"></li>
                <li><a href="#">Games</a></li>
                <li class="divider"></li>
                <li class="has-dropdown"><a href="#">About Us</a>

                    <ul class="dropdown">
                        <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

                            <ul class="dropdown">
                                <li><label>Dropdown Level 2 Label</label></li>
                                <li><a href="#">Dropdown Level 2a</a></li>
                                <li><a href="#">Dropdown Level 2b</a></li>
                                <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                                    <ul class="dropdown">
                                        <li><label>Dropdown Level 3 Label</label></li>
                                        <li><a href="#">Dropdown Level 3a</a></li>
                                        <li><a href="#">Dropdown Level 3b</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Dropdown Level 3c</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dropdown Level 2d</a></li>
                                <li><a href="#">Dropdown Level 2e</a></li>
                                <li><a href="#">Dropdown Level 2f</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown Level 1b</a></li>
                        <li><a href="#">Dropdown Level 1c</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Dropdown Level 1d</a></li>
                        <li><a href="#">Dropdown Level 1e</a></li>
                        <li><a href="#">Dropdown Level 1f</a></li>
                        <li class="divider"></li>
                        <li><a href="#">See all &rarr;</a></li>
                    </ul>
            </ul>
        </section>
    </nav>
</div> <!-- END NAVIGATION -->



<!-- Staff Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#" class="small button a_dropdown">Users</a></li>
            <li><a href="#" class="small button a_dropdown">Staff</a></li>
            <li><a href="#" class="small button a_dropdown">Station</a></li>
            <li><a href="#" class="small button a_dropdown">Games</a></li>
        </ul>



        <div class="splitter"></div>

        <!-- Gamer Tracking System GTS -->
        <div id="admin_games" ng-controller="Core">
            <h2>Add Game</h2>

            <form>
                <fieldset>
                    <label>Game Name</label>
                    <input class="staff_add_gamer" type="text" placeholder="Game Name" ng-model="game.gameTitle">
                    <form class="custom">
                    </form>
                    <label>System</label>
                    <form class="custom">
                        <select id="systemDropdown" class="medium" ng-model="game.gameSystem">
	                        <!----------------------  Options populated through ng-options from database BUGGGYYYYYYYYYYYYYYYY!!!!!!!!!!!!!!!!	------------------------------->
	                        <option ng-repeat="system in systems">{{system.name}}</option>
                        </select>
                    </form>
                    <label>Quantity</label>
                    <form class="custom">
                        <input type="number" class="small" name="quantity" min="1" max="10" ng-model="game.gameQuantity">
                    </form>
                    <label>Box Art URL</label>
                    <form class="custom">
                        <input type="text" class="medium" ng-model="game.gameArtUrl">
                        <img src="{{game.gameArtUrl}}" width="200" height="300" />
                    </form>
                    <form novalidate ng-submit="addGame()">
                    	<input type="submit" class="button" value="Add" />
                    	<a href="admin_games.html" class="button">Cancel</a>
                    </form>
                </fieldset>
            </form>
        </div>
    </div>


</div>

<div class="row">
    <div id="footer">

    </div>
</div>



<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
            '.js><\/script>')
</script>

<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.orbit.js"></script>
<script src="js/foundation/foundation.reveal.js"></script>
<!--
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.interchange.js"></script>
<script src="js/foundation/foundation.abide.js"></script>
<script src="js/foundation/foundation.dropdown.js"></script>
<script src="js/foundation/foundation.placeholder.js"></script>
<script src="js/foundation/foundation.forms.js"></script>
<script src="js/foundation/foundation.alerts.js"></script>
<script src="js/foundation/foundation.magellan.js"></script>
<script src="js/foundation/foundation.reveal.js"></script>
<script src="js/foundation/foundation.tooltips.js"></script>
<script src="js/foundation/foundation.clearing.js"></script>
<script src="js/foundation/foundation.cookie.js"></script>
<script src="js/foundation/foundation.joyride.js"></script>
<script src="js/foundation/foundation.section.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
-->

<script>
    $(document).foundation();
</script>
<script src="gamerscafe_final/controllers/core.js"></script>
</body>
</html>
