#top {
	margin-top:0;
}

#logo {
	height:40px;
	width:100%;
	margin-left:15px;
}

.top_bar {
	background-color:#424242;
	width:100%;
	height:35px;
}

.top_half_bar {
	border-top:1.9em solid #3299BB;
	border-left:2em solid transparent;
	width:45%;
	float:right;
}

.user_panel {
	color:#fff;
	text-transform:uppercase;
	margin-right:0;
	float:right;
	margin-top:-37px;
}

.user_panel img {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-top:-65px;
	height:30px;
	width:30px;
	float:right;
	margin-right:10px;
}

#displayName {
	margin-left:-40px;
}

.user_nav {
	margin-top:-5px!important;
	margin-left:-120px!important;
}

.user_nav a {
	background-color:#424242!important;
	color:#2ba6cb;
}

.user_login {
	float:right;
	margin-top:-5px;
}

.user_login a {
	color:#3299BB;
}

#logout {
	margin:0!important;
}

#login form {
	margin:0 auto;
}
.login {
	color:#fff;
	text-transform:uppercase;
	margin-top:-25px;
	float:left;
}

.fb_login {
	width:30%;
}

.fb_login_2 {
	width:45%;
}

.input_login {
	width:40%;
}

.cta_intro {
	margin-top:20px;
}

.cta_intro h1 {
	text-transform:uppercase;
	color:#3299BB;
	text-align:center;
	text-shadow:-1px 1px #888;
}
.sign_up form {
	margin:0 auto;
}

.sign_up h2 {
	text-transform:uppercase;
	text-align:center;
	color:#3299BB;
	text-shadow:-1px 1px #888;
	margin-top:20px;
}

.sign_up_page h1 {
	text-transform:uppercase;
	text-align:center;
	color:#3299BB;
	text-shadow:-1px 1px #888;
}

.sign_up_page form {
	margin-left:29%;
}

.sign_up_page input {
	width:250px;
}

.sign_up input {
	width:250px;
}

.login_form form {
	margin-left:29%;
}

.login_form h1 {
	text-transform:uppercase;
	text-align:center;
	color:#3299BB;
	text-shadow:-1px 1px #888;
}

.login_form input {
	width:250px;
}

.become_a_gamer {
	color:#fff;
	text-transform:uppercase;
	margin-top:-25px;
	float:left;
	margin-left:50px;
}

#main_nav {
	background-color:#424242;
	width:100%;
	height:60px;
	margin-top:120px;
	border-top:3px solid #3299BB;
}

#main_nav .top-bar section ul li a {
	text-shadow:-1px 1px #000;
	text-transform:uppercase;
}

#main_nav .top_nav {
	margin-left:.8%;
}

#main_nav .home_icon {
	font-size:1.5em;
}

#main_nav a:hover {
	color:#2ba6cb;
	transition:color .3s ease-in-out;
	-webkit-transition:color .3s ease-in-out;
	-moz-:color .32s ease-in-out;
}

#logo object {
	width:330px;
	height:50px;
	margin-top:30px;
	z-index:1;
}

#mobile_menu {
	margin-top:10px;
}

h1,h2,h3,p,a {
	font-family:'Oswald',sans-serif;
	font-weight:300;
}

.middle {
	background-image:url(../img/mooning.png);
}

.home {
	margin:0 auto;
}

#home {
	background-image:url(../img/mooning.png);
}

.home_cta {
	margin:0 auto;
	background-color:rgba(255,255,255,0.5);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.75);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.75);
	box-shadow:0 0 10px rgba(0,0,0,0.75);
}

.col1 {
	width:100%;
	margin:0 auto;
}

.icons {
	font-size:5em;
	color:silver;
	position:relative;
	top:50px;
	text-shadow:-1px 1px 1px #999;
}

.home_columns {
	background-color:rgba(255,255,255,0.8);
	text-align:center;
}

.home_columns h2 {
	margin-top:80px;
	font-family:'Oswald',sans-serif;
	font-weight:400;
	color:#3299BB;
	text-transform:uppercase;
	text-shadow:-1px 1px #888;
	text-align:center;
}

.home_columns h2 p {
	margin-top:100px;
	font-family:'Titillium Web',sans-serif;
	font-weight:400;
	color:#000;
}

.staff_columns {
	background-color:#f2f2f2;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.75);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.75);
	box-shadow:0 0 10px rgba(0,0,0,0.75);
}

.staff_columns h2 {
	margin-top:20px;
	font-family:'Oswald',sans-serif;
	font-weight:400;
	color:#3299BB;
	text-transform:uppercase;
	text-shadow:-1px 1px #888;
	text-align:center;
}

.staff_columns h2 p {
	margin-top:100px;
	font-family:'Titillium Web',sans-serif;
	font-weight:400;
	color:#000;
}

.sub_nav {
	margin-left:17px;
	margin-top:20px;
}

.splitter {
	border-bottom:1px solid #5f9ea0;
	width:95%;
	position:relative;
	margin:0 auto;
}

.cancel_comment label {
	text-align:center;
	text-transform:uppercase;
}

.cancel_comment textarea {
	width:400px;
	height:100px;
	margin:0 auto;
}

.clearfix {
	clear:both;
}

.gts {
	margin-top:20px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}

.queue_list {
	clear:both;
}

.staff_add_gamer {
	width:45%;
}

.middle .admin_nav {
	margin-left:15px;
	margin-top:20px;
}

#footer {
	background-color:#424242;
	width:100%;
	height:60px;
	border-top:3px solid #3299BB;
    margin-bottom: 30px;
}
.social{
    float: left;
    font-size: 2em;
    margin-left: 10px;
    margin-top: 5px;
}

#fbIcon{
    color: #3B5998;
}
#fbIcon:hover{
    color: #3B5998;
    opacity: 0.7;
}
#gPlusIcon{
    color: #D34836;
}
#twitterIcon:hover{
    color: #3299BB;
    opacity: 0.7;
}
#gPlusIcon:hover{
    color: #D34836;
    opacity: 0.7;
}

.copyright{
    float: right;
    color: #3299BB;
    margin-right: 10px;
    margin-top: 10px;

}
.social a{
    padding-right: 5px;
}
/* GTS Panel */
#gts_panel {
}

.gts_panel {
	margin-bottom:10px!important;
}

.remove_panel {
	margin:0 auto;
}

.cancel_panel {
	margin:0 auto;
}

.cancel_panel_content {
	margin-top:-15px!important;
}

.edit_gts {
	float:left;
	width:10%;
	margin:-10px 0 0 -10px;
}

.edit_gts a {
	color:#333;
	float:left;
}

.gamer_name {
	float:left;
	width:90%;
	margin-top:-10px;
	font-family:'Oswald',sans-serif;
	text-transform:uppercase;
	text-align:right;
}

#form_add_gamer_gts {
	width:50%;
	margin:0 auto;
}

#form_edit_gamer_gts {
	width:50%;
	margin:0 auto;
}

.gts_remove {
	background:red;
}

.center {
	margin:0 auto;
}

.station_number {
	float:left;
	margin-left:-5px;
	margin-top:0;
	opacity:.5;
	width:10%;
	font-size:1.2em;
	height:30px;
}

.station_number_avail {
	float:left;
	margin-left:-5px;
	margin-top:-20px;
	opacity:.5;
	font-size:1.2em;
	height:30px;
}

.station_avail {
	margin-top:-10px;
}

.gts_pic img {
	float:left;
	margin-top:0;
	margin-left:30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.game_boxart {
	float:right;
	width:40%;
}

.game_boxart img {
	height:60px;
	float:right;
	margin-top:0;
}

.gts_timer {
	float:left;
	width:50%;
	padding-top:5px;
	text-align:right;
}

.gts_timer h6 {
	display:inline-block;
	font-size:1.7em;
}

.gts_timer h5 {
	font-size:1.7em;
	color:#000;
	float:right;
}

.gts_timer .time_in {
	color:#fff;
}

.gts_timer .countdown {
	color:red;
	width: 60px;
}

/* Station Panels */
.station_q {
	background:#058baa;
	width:100%;
	height:25px;
	margin-top:-23px;
	border-bottom:1px solid grey;
}

.avail {
	background:#093;
	width:100%;
	height:25px;
	margin-top:-23px;
	border-bottom:1px solid grey;
}

.avail a {
	color:#fff;
}

.q_name h6 {
	color:lightgray;
	font-weight:300;
	text-transform:uppercase;
	float:left;
	margin-left:10px;
	margin-top:0;
	font-size:.8em;
}

.q_time_in h6 {
	font-family:'Oswald',sans-serif;
	color:lightgray;
	font-weight:300;
	float:right;
	margin-right:10px;
	margin-top:0;
	font-size:.8em;
}

.avail_station {
	background:grey!important;
}

.game_over {
	background:red!important;
}

.avail_station h3 a {
	margin-left:-10px;
	font-size:6em;
	margin-top:-80px;
	float:left;
	color:#a9a9a9;
}

.station_avail {
	margin-left:110px;
	width:50px;
}

#admin_dd .a_dropdown {
	margin-bottom:0;
}

.search {
	width: 95%;
	margin: 0 auto;
}

.add_button {
	float: right;
	width: 20%;
	clear: none;
}

.cancel_reason {
	margin-left:13%;
}

.cancel_button {
	margin-left:19%;
}

.cancel_button .cancel_gamer_button {
	background:red;
}

.add_to_queue {
	float: left;
	width: 100%;
	padding: 0 20%;
}

.add_to_queue .cancel {
	float: right;
	width: 100px;
	margin-right: 10px;
}

.add_gamer_q {
	width:100px;
	float: right;
}

.errorMessage {
	background-color:#FA787E;
	margin-top:-15px;
	margin-bottom:10px;
	width:100%;
	font-family:'Oswald',sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}

.form input.ng-valid.ng-dirty {
	border:1px solid #2ba6cb;
	background:#b4e6ed;
}

.form input.ng-invalid.ng-dirty {
	border:1px solid #FA787E;
}

#admin_staff {
	margin:0 auto;
	width:500px;
}

#admin_game {
	margin:0 auto;
	width:500px;
}

#admin_station {
	margin:0 auto;
	width:500px;
}

#admin_system {
	margin:0 auto;
	width:500px;
}

.search form {
	margin: 0 auto;
	padding: 0;
}

.form {
	margin:0 auto;
}

#form {
	width:500px;
}

.formButtons {
	margin:0 auto;
	width:200px;
}

#user_settings {
	height: 63px;
	padding: 0;
}

.table_info {
	margin-top:20px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}

/* Media Queries ----------- */
@media screen and (max-width : 650px) {
	#main_nav object {
		width:250px;
		float:right;
		margin-right:10px;
		margin-top:-55px;
		position:relative;
	}
	
	#mobile_menu {
		margin-right:0;
		float:right;
	}
	
	.add_gamer_q {
		width:190px;
	}
	
}

