<!-- Admin Station Info Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>
        <div class="splitter"></div>

        <!-- Admin Station info-->
        <div id="admin_users">
            <div class="panel large-6 center gamesPanel">
                <a href="#/admin_station" class="button">Back</a>
                <h2>{{station_profile.stationNumber}}</h2>
                <form id="form" name="form" novalidate>
                    <label>Station Number</label>
                    <input class="input_add_systemName" name="number" type="tel" placeholder="{{station_profile.stationNumber}}" ng-model="station.stationNumber" id="tempStationNumber" ng-minlength="1" ng-maxlength="2" required="">
                    <div class="errorMessage" ng-show="form.number.$dirty && form.number.$invalid">
                        <span ng-show="form.number.$error.required">Please Enter A Number</span>
                        <span ng-show="form.number.$error.minlength">Name Must Be At Least 1 Characters Long</span>
                        <span ng-show="form.number.$error.maxlength">Max of 2 Characters Long</span>
                    </div>
                    <label>Assigned System: {{station_profile.stationSystem}}</label>
                    <select id="tempStationSystem" class="small" ng-model="station.stationSystem" required="">
                        <option>Playstation 4</option>
                        <option>Playstation 3</option>
                    </select>
                    <label>Station TV</label>
                    <input class="input_add_stationTelevision" name="stationTV" type="text" placeholder="{{station_profile.stationTV}}" ng-model="station.stationTV" id="tempStationTV" required="">
                    <div class="errorMessage" ng-show="form.stationTV.$dirty && form.stationTV.$invalid">
                        <span ng-show="form.stationTV.$error.required">Please Enter A TV</span>
                    </div>
                    <label>TV Serial</label>
                    <input class="input_add_stationTelevisionSerial" name="tvSerial" type="text" placeholder="{{station_profile.stationTVSerial}}" ng-model="station.stationTVSerial" id="tempStationTVSerial" required="">
                    <div class="errorMessage" ng-show="form.tvSerial.$dirty && form.tvSerial.$invalid">
                        <span ng-show="form.tvSerial.$error.required">Please Enter The TV Serial</span>
                    </div>
                    <a href="" class="button small-12 large-6 " ng-click="updateStation(station)" id="station_update_button" ng-disabled="form.$invalid" >Update</a>
                    <a href="" class="button small-12 large-6 deleteButton" ng-click="deleteStation(station.$id)" id="station_delete_button">Delete</a>
                </form>
            </div>
        </div>
    </div>
</div>
