<!-- AdminPage -->
<div class="middle"  ng-controller="GTS">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>
        <div class="splitter"></div>

        <!-- Gamer Tracking System GTS -->
        <div id="gts">
            <h2>Active Stations</h2>

            <div id="gts_panel">
                <!-- Panel Starts here -->
                <div ng-repeat="station in activeStations | orderBy:'stationNumber'">

                    <div class="small-12 large-4 columns gts_panel">
                        <a href="#/gts_edit_gamer/{{station.$id}}">
                            <div class="panel callout radius station_1">
                                <div class="panel_content">
                                    <div class="station_number">
                                        <h1>{{station.stationNumber}}</h1>
                                    </div>
                                    <div class="gtsImage">
                                        <img src="{{station.gamerPic}}" alt="Profile Pic">{{user.profilePic}}
                                    </div>
                                    <div class="gamer_name">
                                        <h6>{{station.username}}</h6>
                                    </div>

                                    <div class="game_boxart">
                                        <img src="{{station.boxart}}" alt="Game Box Art">
                                    </div>
                                    <div class="gts_timer">
                                        <h6 class="countdown">{{station.displayTime}} Min</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <h2 class="clearfix">Queued:</h2>

                <div ng-repeat="station in quedStations | orderBy:'username'">
                    <div class="small-12 large-4 columns gts_panel">
                        <a href="#/gts_add_gamer/{{station.username}}/{{station.$id}}">
                            <div class="panel callout radius qPanel">
                                <div class="panel_content">
                                    <div class="edit_gts">
                                    </div>
                                    <div class="queuedPic">
                                        <img src="{{station.gamerPic}}">
                                    </div>
                                    <div class="qGamerName">
                                        <h6>{{station.username}}</h6>
                                    </div>
                                    <div class="timeIn">
                                        <h6>{{station.currentTime}}</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <h2 class="clearfix">Empty Stations</h2>

                <div ng-repeat="station in emptyStations | orderBy:'stationNumber'">
                    <div class="small-12 large-4 columns gts_panel">
                        <div class="panel callout radius avail_station">
                            <div class="panel_content">
                                <div class="station_number_avail">
                                    <h1>{{station.stationNumber}}</h1>
                                </div>
                                <div class="station_avail">
                                    <h3><a href="#/gts_add_q">+</a> </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Station Queue -->
                        <div class="station_q">
                            <div class="q_name">
                                <h6></h6>
                            </div>
                            <div class="q_time_in">
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
