<!-- Edit GTS Page -->
<div class="middle" ng-controller="GTS">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>

        <div class="splitter"></div>

        <!-- Add Gamer to GTS -->
        <form class="small-12 large-6 center addToQPanel">
            <fieldset>
                <a href="#/admin" class="button">Back</a>
                <label>Email Address:</label>
                <input class="staff_add_gamer" type="text" id="username" ng-model="tempStation.username">
                <form class="custom">
                </form>
                <label>Station</label>
                <form class="custom">
                    <select id="customDropdown" class="medium cus">
                        <option ng-repeat="station in stations" value="{{station.number}}">{{station.stationNumber}}</option>
                    </select>
                </form>
                <label>Games</label>
                <form class="custom">
                    <select id="games_option" class="medium">
                        <option ng-repeat="game in games" value="{{game.gameArtUrl}}">{{game.gameTitle}}</option>
                    </select>
                </form>
                <label>Time(Minutes)</label>
                <form class="custom">
                    <select id="time_dropdown" class="medium" default="{{tempStation.countdown}}">
                        <option value="0">0</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                        <option value="120">120</option>
                        <option value="150">150</option>
                    </select>
                </form>

                <button ng-click="updateActiveStation(tempStation)">Extend!</button>
                <a class="cancel_gamer_button button" ng-click="deleteActiveStation(tempStation.id)" id="user_delete_button">Cancel Gamer</a>
            </fieldset>
        </form>
    </div>
</div>
