<!-- Admin user Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>
        <div class="splitter"></div>
        <!-- Admin Users -->
        <div id="admin_users">
            <div class="panel large-6 center userPanel">
                <a href="#/admin_users" class="button">Back</a>
                <h2>{{user_profile.displayName}}</h2>

                    <img class="" src="{{user_profile.profilePic}}"><br />

                {{user_profile.email}}<br />
                <a href="" class="button small-12 large-6 deleteButton" ng-click="deleteUser(user.$id)" id="user_delete_button">Delete</a>
            </div>
        </div>

        </div>
    </div>
</div>
