<!-- Admin Game Info Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>
        <div class="splitter"></div>

        <!-- Admin Systems info-->
        <div id="admin_users">
            <div class="panel large-6 center gamesPanel">
                <a href="#/admin_systems" class="button">Back</a>
                <h2>{{system_profile.systemName}}</h2>
                <form id="form" name="form" novalidate>
                    <label>System Name</label>
                    <input type="text" name="name" class="systemName" placeholder="{{system_profile.systemName}}" value="{{system_profile.systemName}}" ng-model="tempSystem.systemName" id="tempSystemName" required="" ng-minlength=2>
                    <div class="errorMessage" ng-show="form.name.$dirty && form.name.$invalid">
                        <span ng-show="form.name.$error.required">Please Enter A Name</span>
                        <span ng-show="form.name.$error.minlength">Name Must Be At Least 2 Characters Long</span>
                    </div>
                    <input type="text" name="serial" class="systemSerial" placeholder="{{system_profile.systemSerial}}" value="{{system_profile.systemSerial}}" ng-model="tempSystem.systemSerial" id="tempSystemSerial" required="" ng-minlength="3">
                    <div class="errorMessage" ng-show="form.serial.$dirty && form.serial.$invalid">
                        <span ng-show="form.serial.$error.required">Please Enter A Serial</span>
                        <span ng-show="form.serial.$error.minlength">Name Must Be At Least 3 Characters Long</span>
                    </div>
                    <label>Assigned Station: {{system_profile.systemStation}}</label>
                    <select id="tempSystemStation" class="small" ng-model="system.systemStation" required="">
                        <option>None</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <a href="" class="button small-12 large-6 " ng-click="updateSystem(system)" id="system_update_button" ng-disabled="form.$invalid" >Update</a>
                    <a href="" class="button small-12 large-6 deleteButton" ng-click="deleteSystem(system.$id)" id="system_delete_button">Delete</a>
                </form>
            </div>
        </div>
    </div>
</div>
