<!-- Admin Game Info Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>
        <div class="splitter"></div>

        <!-- Admin Users -->
        <div id="admin_users">
            <div class="panel large-6 center gamesPanel">
                <h2>{{game_profile.gameTitle}}</h2>
                <div class="gameInfoImage">
                    <img src="{{game_profile.gameArtUrl}}">

                </div>
                <input type="text" class="gameArtUrl" value="{{game_profile.gameArtUrl}}" id="tempGameArtUrl">
                <input type="text" class="gameName" value="{{game_profile.gameTitle}}" id="tempGameTitle">
                <input type="text" class="system" value="{{game_profile.gameSystem}}" id="tempGameSystem">
                <input type="tel" class="gameQuantity" value="{{game_profile.gameQuantity}}" id="tempGameQuantity">
                <a href="" class="button" ng-click="updateGame(game)" id="game_update_button">Update</a>
                <a href="" class="button" ng-click="deleteGame(game)" id="game_delete_button">Delete</a>
            </div>


        </div>
    </div>
</div>
