<!-- Admin Game Info Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>
        <div class="splitter"></div>

        <!-- Admin Users -->
        <div id="admin_users">
            <div class="panel large-6 center gamesPanel">
                <a href="#/admin_games" class="button">Back</a>
                <h2>{{game_profile.gameTitle}}</h2>
                <div class="gameInfoImage">
                    <img src="{{game_profile.gameArtUrl}}">
                </div>
                <form id="form" name="form" novalidate>
                    <input type="text" class="gameArtUrl" value="{{game_profile.gameArtUrl}}" id="tempGameArtUrl">
                    <input type="text" name="gameName" class="gameName" placeholder="{{game_profile.gameTitle}}" value="{{game_profile.gameTitle}}" ng-model="game.gameTitle" id="tempGameTitle" required="" ng-minlength=2>
                    <div class="errorMessage" ng-show="form.gameName.$dirty && form.gameName.$invalid">
                        <span ng-show="form.gameName.$error.required">Please Enter A Name</span>
                        <span ng-show="form.gameName.$error.minlength">Name Must Be At Least 2 Characters Long</span>
                    </div>
                    {{game_profile.gameSystem}}
                    <!--<input type="text" class="system" value="" >-->
                    <select id="tempGameSystem" class="medium" ng-model="game.gameSystem" required>
                        <option>Playstation 4</option>
                        <option>Playstation 3</option>
                        <option>Xbox 360</option>
                        <option>Xbox One</option>
                    </select>
                    <input type="tel" name="gameQuantity" class="gameQuantity" placeholder="{{game_profile.gameQuantity}}"  ng-model="game.gameQuantity" id="tempGameQuantity" required="">
                    <div class="errorMessage" ng-show="form.gameQuantity.$dirty && form.gameQuantity.$invalid">
                        <span ng-show="form.gameQuantity.$error.required">Please Enter An Amount</span>
                    </div>
                    <a href="" class="button small-12 large-6 " ng-click="updateGame(game)" id="game_update_button" ng-disabled="form.$invalid" >Update</a>
                    <a href="" class="button small-12 large-6 deleteButton" ng-click="deleteGame(game.$id)" id="game_delete_button">Delete</a>
                </form>
            </div>
        </div>
    </div>
</div>
