<!-- GamePage -->
<div class="middle">
    <div class="row staff_columns">

        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>

        <div class="splitter"></div>

        <!-- Games Page -->
        <div id="admin_games">
            <h2>Games List</h2>

            <div class="search">
                <form class="large-6 small-12 columns">
                    <input type="text" class="game_search" placeholder="Search Game" ng-model="filter.gameName">
                </form>
                <a href="#/admin_add_game" class="small button a_dropdown large-3 columns">Add Game</a>
            </div>
            <div class="row"></div>
            <!-- foundation table -->
            <div class="adminGames">
                <ul class="pricing-table large-2 small-6 columns" ng-repeat="game in games | filter:filter.gameName">
                    <a href="#/admin_game_info/{{game.gameTitle}}/{{game.$id}}"><li class="price">
                        <div class="adminGameArt"><img src="{{game.gameArtUrl}}"></div>
                        <div class="adminGameTitle">{{game.gameTitle}} <i class="icon-arrow-right"></i></div>
                    </li></a>
                </ul>
            </div>
        </div>
    </div>
</div>
