<!-- Navigation -->
<div id="main_nav" class="row">
    <nav class="top-bar">
        <section class="top-bar-section">
            <ul class="right top_nav">
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li id="mobile_menu" class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                <li><a href="#"><i class="icon-home home_icon"></i></a> </li>

                <li class="divider"></li>
                <li class="active"><a href="#">League/Tournaments</a></li>
                <li class="divider"></li>
                <li><a href="#">Games</a></li>
                <li class="divider"></li>
                <li class="has-dropdown"><a href="#">About Us</a>

                    <ul class="dropdown">
                        <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

                            <ul class="dropdown">
                                <li><label>Dropdown Level 2 Label</label></li>
                                <li><a href="#">Dropdown Level 2a</a></li>
                                <li><a href="#">Dropdown Level 2b</a></li>
                                <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                                    <ul class="dropdown">
                                        <li><label>Dropdown Level 3 Label</label></li>
                                        <li><a href="#">Dropdown Level 3a</a></li>
                                        <li><a href="#">Dropdown Level 3b</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Dropdown Level 3c</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dropdown Level 2d</a></li>
                                <li><a href="#">Dropdown Level 2e</a></li>
                                <li><a href="#">Dropdown Level 2f</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown Level 1b</a></li>
                        <li><a href="#">Dropdown Level 1c</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Dropdown Level 1d</a></li>
                        <li><a href="#">Dropdown Level 1e</a></li>
                        <li><a href="#">Dropdown Level 1f</a></li>
                        <li class="divider"></li>
                        <li><a href="#">See all &rarr;</a></li>
                    </ul>
            </ul>
        </section>
    </nav>
</div> <!-- END NAVIGATION -->

<!-- Add Staff Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>

        <div class="splitter"></div>

        <!-- Admin Add Staff -->
        <div id="admin_staff" ng-controller="Core">
            <h2>Add Staff</h2>

            <form id="form" name="form" novalidate ng-submit="addStaff()">
                <fieldset>
                    <div class="row">
                        <div class="large-12 columns form">
                            <input class="input_add_staffName" name="staffName" type="text" placeholder="Staff Name" ng-minlength=2 ng-model="staff.staffName" required>
                            <div class="errorMessage" ng-show="form.staffName.$dirty && form.staffName.$invalid">
                                <span ng-show="form.staffName.$error.required">Please Enter A Name</span>
                                <span ng-show="form.staffName.$error.minlength">Name Must Be At Least 2 Characters Long</span>
                            </div>
                            <input class="input_add_staffNumber" name="cellNumber" type="tel" placeholder="Cell Number" ng-minlength=11 ng-maxlength=11 ng-model="staff.staffNumber" required>
                            <div class="errorMessage" ng-show="form.cellNumber.$dirty && form.cellNumber.$invalid">
                                <span ng-show="form.cellNumber.$error.required">Please Enter A Cell Number</span>
                                <span ng-show="form.cellNumber.$error.minlength">Numbers Only</span>
                                <span ng-show="form.cellNumber.$error.maxlength">Max is 11 Numbers</span>
                            </div>
                            <input class="input_add_staffEmail" name="sEmail" type="email" placeholder="Email" ng-model="staff.staffEmail" required>
                            <div class="errorMessage" ng-show="form.sEmail.$dirty && form.sEmail.$invalid">
                                <span ng-show="form.sEmail.$error.required">Please Enter An Email</span>
                                <span ng-show="form.sEmail.$error.email">This is not a valid email.</span>
                            </div>

                            <input class="input_add_staffPassword" name="staffPassword" type="password" placeholder="Password" ng-model="staff.staffPassword" ng-minlength=8 ng-maxlength=20 required>
                            <div class="errorMessage" ng-show="form.staffPassword.$dirty && form.staffPassword.$invalid">
                                <span ng-show="form.cellNumber.$error.required">Please Enter A Password</span>
                                <span ng-show="form.staffPassword.$error.minlength">Min 8 Characters</span>
                                <span ng-show="form.staffPassword.$error.maxlength">Max 20 Characters</span>
                            </div>
                            <form class="custom">
                            </form>
                            <label>Permission</label>
                            <select id="permissionSelection" name="staffPermission" class="small" ng-model="staff.staffPermission" required>
                                <option>GTS</option>
                                <option>League</option>
                            </select>
                            <div class="errorMessage" ng-show="form.staffPermission.$dirty && form.staffPermission.$invalid">
                                <span ng-show="form.staffPermission.$error.required">Please Make A Selection</span>
                            </div>
                            <div class="formButtons">
                                <input type="submit" class="button" value="Add" ng-disabled="form.$invalid"  />
                                <a href="#/admin_staff" class="button">Cancel</a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div id="footer">

    </div>
</div>


