<!-- System Page Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>

        <div class="splitter"></div>

        <!-- Admin Add System Page -->
        <div id="admin_game" ng-controller="Core">
            <div class="panel small-12 large-6 center addPanel">
                <a href="#/admin_systems" class="button">Back</a>
                <h2>Add System</h2>
                <form id="form" name="form" novalidate ng-submit="addSystem()">
                    <input class="input_add_systemName" name="name" type="text" placeholder="System Name" ng-model="system.systemName" ng-minlength="2" required="">
                    <div class="errorMessage" ng-show="form.name.$dirty && form.name.$invalid">
                        <span ng-show="form.name.$error.required">Please Enter A Name</span>
                        <span ng-show="form.name.$error.minlength">Name Must Be At Least 2 Characters Long</span>
                    </div>
                    <input class="input_add_systemSerial" name="serial" type="text" placeholder="Serial Number" ng-model="system.systemSerial" ng-minlength="3" required="">
                    <div class="errorMessage" ng-show="form.serial.$dirty && form.serial.$invalid">
                        <span ng-show="form.serial.$error.required">Please Enter A Serial</span>
                        <span ng-show="form.serial.$error.minlength">Name Must Be At Least 3 Characters Long</span>
                    </div>
                    <label>Assigned Station</label>
                    <select id="systemDropdown" class="small" ng-model="system.systemStation" required="">
                        <option>None</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <div class="formButtons">
                        <input type="submit" class="button small-12 large-6" value="Add" ng-disabled="form.$invalid"  />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

