<!-- Staff Page -->
<div class="middle">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>
        <div class="splitter"></div>

        <!-- Admin Staff Section -->
        <div id="admin_staffs">
            <h2>Staff List</h2>

            <div class="search">
                <form class="small-12 large-6 columns">
                    <input type="text" class="systemSearch" placeholder="Search Staff" ng-model="filter.staffName">
                </form>
                <a href="#/admin_add_staff" class="small button a_dropdown large-3 columns">Add Staff</a>
            </div>
            <!-- Table -->
            <!--<table class="table_info">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th width="20%">Name</th>-->
                    <!--<th width="20%">Cell Number</th>-->
                    <!--<th width="20%">Email</th>-->
                    <!--<th width="5%">Password</th>-->
                    <!--<th width="5%">Permission</th>-->
                    <!--<th width="150">Date Hired</th>-->
                    <!--<th width="10%">Action</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<form name="form">-->
                    <!--<tr ng-repeat="staff in staffs | filter:filter.staffName">-->
                        <!--<td><input type="text" class="staffName" value="{{staff.staffName}}" id="tempStaffName{{staff.$id}}"></td>-->
                        <!--<td><input type="text" class="staffNumber" value="{{staff.staffNumber}}" id="tempStaffNumber{{staff.$id}}"></td>-->
                        <!--<td><input type="text" class="staffEmail" value="{{staff.staffEmail}}" id="tempStaffEmail{{staff.$id}}"></td>-->
                        <!--<td><input type="password" class="staffPassword" value="{{staff.staffPassword}}" id="tempStaffPassword{{staff.$id}}"></td>-->
                        <!--<td><p>{{staff.staffPermission}}</p></td>-->
                        <!--<td><p>{{staff.staffHiredDate}}</p></td>-->
                        <!--<td><a href="" class="button" id="staff_update_button{{staff.$id}}" ng-click="updateStaff(staff)">Update</a><a href="" class="button" id="staff_delete_button{{staff.$id}}" ng-click="deleteStaff(staff.$id)">Delete</a></td>-->
                    <!--</tr>-->
                <!--</form>-->
                <!--</tbody>-->
            <!--</table>-->
            <div class="row"></div>
            <!-- foundation table -->
            <div class="adminStaffs">
                <ul class="pricing-table large-2 small-6 columns" ng-repeat="staff in staffs | filter:filter.staffName">
                    <a href="#/admin_staff_info/{{staff.staffName}}/{{staff.$id}}"><li class="price">
                        <div class="adminGameArt"><img src="{{game.gameArtUrl}}"></div>
                        <div class="adminSystemName">{{staff.staffName}} <i class="icon-arrow-right"></i></div>
                    </li></a>
                </ul>
            </div>
        </div>
    </div>
</div>

