<!-- Nav Top Bar -->
<div class="top_bar">
    <!--<div class="top_half_bar"></div>-->
    <div class="bars row">
        <div id="logo">
            <!-- LOGO -->
            <img src="views/img/logo.png" alt="Logo"> <!-- END LOGO -->
        </div>
        <div class="user_panel">
            <img src="views/img/sm_profile.png" alt="Small Profile Picture">
            <a href="#/admin">Erwin Angeles</a>
            <i class="icon-gear"></i>
        </div>
    </div><!-- End top_half_bar -->
</div><!-- End top-bar -->

<div id="top">
    <!-- Navigation -->
    <div id="main_nav" class="row">
        <nav class="top-bar">
            <section class="top-bar-section">
                <ul class="right top_nav">
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li id="mobile_menu" class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    <li><a href="#"><i class="icon-home home_icon"></i></a> </li>

                    <li class="divider"></li>
                    <li class="active"><a href="#">League/Tournaments</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Games</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown"><a href="#">About Us</a>

                        <ul class="dropdown">
                            <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

                                <ul class="dropdown">
                                    <li><label>Dropdown Level 2 Label</label></li>
                                    <li><a href="#">Dropdown Level 2a</a></li>
                                    <li><a href="#">Dropdown Level 2b</a></li>
                                    <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                                        <ul class="dropdown">
                                            <li><label>Dropdown Level 3 Label</label></li>
                                            <li><a href="#">Dropdown Level 3a</a></li>
                                            <li><a href="#">Dropdown Level 3b</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Dropdown Level 3c</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Dropdown Level 2d</a></li>
                                    <li><a href="#">Dropdown Level 2e</a></li>
                                    <li><a href="#">Dropdown Level 2f</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown Level 1b</a></li>
                            <li><a href="#">Dropdown Level 1c</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Dropdown Level 1d</a></li>
                            <li><a href="#">Dropdown Level 1e</a></li>
                            <li><a href="#">Dropdown Level 1f</a></li>
                            <li class="divider"></li>
                            <li><a href="#">See all &rarr;</a></li>
                        </ul>
                </ul>
            </section>
        </nav>
    </div> <!-- END NAVIGATION -->



    <!-- Station Page -->
    <div class="middle">
        <div class="row staff_columns">
            <ul class="admin_nav button-group">
                <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
            </ul>
            <ul id="admin_dd" data-dropdown-content class="f-dropdown">
                <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
                <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
                <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
                <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
                <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
                <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
            </ul>

            <div class="splitter"></div>

            <!-- Admin Station -->
            <div id="admin_station">
                <h2>Station List</h2>

                <div class="search">
                    <form>
                        <input type="text" class="stationSearch" placeholder="Search Station">
                    </form>
                    <a href="#/admin_add_station" class="small button a_dropdown">Add Station</a>
                </div>
                <!-- Table -->
                <table class="gts">
                    <thead>
                    <tr>
                        <th width="200">Station Number</th>
                        <th>System</th>
                        <th>Television Model</th>
                        <th width="150">Television Serial</th>
                        <th width="150">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="station in stations">
                        <td><input type="text" class="stationNumber" value="{{station.stationNumber}}" id="tempStationNumber{{station.$id}}"></td>
                        <td><input type="text" class="stationSystem" value="{{station.stationSystem}}" id="tempStationSystem{{station.$id}}"></td>
                        <td><input type="text" class="stationTV" value="{{station.stationTV}}" id="tempStationTV{{station.$id}}"></td>
                        <td><input type="text" class="stationTVSerial" value="{{station.stationTVSerial}}" id="tempStationTVSerial{{station.$id}}"></td>
                        <td><a href="" ng-click="updateStation(station)">Update</a> / <a href="" ng-click="deleteStation(station.$id)">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="footer">

        </div>
    </div>
</div>