<!-- Nav Top Bar -->
<div class="top_bar">
    <!--<div class="top_half_bar"></div>-->
    <div class="bars row">
        <div id="logo">
            <!-- LOGO -->
            <img src="views/images/logo.png" alt="Logo"> <!-- END LOGO -->
        </div>
        <div class="user_panel">
            <img src="views/images/sm_profile.png" alt="Small Profile Picture">
            <a href="#">Erwin Angeles</a>
            <i class="icon-gear"></i>
        </div>
    </div><!-- End top_half_bar -->
</div><!-- End top-bar -->

<div id="top">
    <!--<div id="logo" class="row">-->
    <!--&lt;!&ndash; LOGO &ndash;&gt;-->
    <!--<object data="img/logo.svg" type="image/svg+xml" class="gamer_logo">-->
    <!--</object> &lt;!&ndash; END LOGO &ndash;&gt;-->
    <!--</div>-->

    <!-- Navigation -->
    <div id="main_nav" class="row">
        <nav class="top-bar">
            <section class="top-bar-section">
                <ul class="right top_nav">
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li id="mobile_menu" class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    <li><a href="#"><i class="icon-home home_icon"></i></a> </li>

                    <li class="divider"></li>
                    <li class="active"><a href="#">League/Tournaments</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Games</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown"><a href="#">About Us</a>

                        <ul class="dropdown">
                            <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

                                <ul class="dropdown">
                                    <li><label>Dropdown Level 2 Label</label></li>
                                    <li><a href="#">Dropdown Level 2a</a></li>
                                    <li><a href="#">Dropdown Level 2b</a></li>
                                    <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                                        <ul class="dropdown">
                                            <li><label>Dropdown Level 3 Label</label></li>
                                            <li><a href="#">Dropdown Level 3a</a></li>
                                            <li><a href="#">Dropdown Level 3b</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Dropdown Level 3c</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Dropdown Level 2d</a></li>
                                    <li><a href="#">Dropdown Level 2e</a></li>
                                    <li><a href="#">Dropdown Level 2f</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown Level 1b</a></li>
                            <li><a href="#">Dropdown Level 1c</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Dropdown Level 1d</a></li>
                            <li><a href="#">Dropdown Level 1e</a></li>
                            <li><a href="#">Dropdown Level 1f</a></li>
                            <li class="divider"></li>
                            <li><a href="#">See all &rarr;</a></li>
                        </ul>
                </ul>
            </section>
        </nav>
    </div> <!-- END NAVIGATION -->



    <!-- Staff Page -->
    <div class="middle">
        <div class="row staff_columns">
            <ul class="admin_nav button-group">
                <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
            </ul>
            <ul id="admin_dd" data-dropdown-content class="f-dropdown">
                <li><a href="#" class="small button a_dropdown">Users</a></li>
                <li><a href="#" class="small button a_dropdown">Staff</a></li>
                <li><a href="#" class="small button a_dropdown">Station</a></li>
                <li><a href="#" class="small button a_dropdown">Games</a></li>
            </ul>



            <div class="splitter"></div>

            <!-- Add Gamer to GTS -->
            <form>
                <fieldset>

                    <label>Email Address:</label>
                    <input class="staff_add_gamer" type="text" ng-model="tempStation.username">
                    <form class="custom">
                    </form>
                    <label>Station</label>
                    <form class="custom">
                        <!--dropdown should be populated with empty stations and current station. -->
                        <select id="customDropdown" class="medium">
                            
                        </select>
                    </form>
                    <label>Games</label>
                    <form class="custom">
                        <!--dropdown should be populated with games-->
                        <select id="games_option" class="medium">
                            
                        </select>
                    </form>
                    <label>Time</label>
                    <form class="custom">
                        <select id="time_dropdown" class="medium">
                            <option>0 Minutes</option>
                            <option>30 Minutes</option>
                            <option>60 Minutes</option>
                            <option>90 Minutes</option>
                            <option>120 Minutes</option>
                            <option>150 Minutes</option>
                        </select>
                    </form>
                    <a href="#" class="button">Extend!</a>
                    <a href="#/admin" class="button">Cancel</a>
                    <a href="#/gts_cancel" class="button">Remove</a>
                </fieldset>
            </form>
        </div>


    </div>

    <div class="row">
        <div id="footer">

        </div>
    </div>