<!-- Cancel Page -->
<div class="middle" ng-controller="GTS">
    <div class="row staff_columns">
        <ul class="admin_nav button-group">
            <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
        </ul>
        <ul id="admin_dd" data-dropdown-content class="f-dropdown">
            <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
            <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
            <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
            <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
            <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
            <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
        </ul>

        <div class="splitter"></div>

        <div id="cancel_gamer">
            <h2>Cancel Gamer?</h2>
            <div class="cancel_panel">
                <div class="small-6 large-4 columns gts_panel">
                    <div class="panel callout radius station_1">
                        <div class="cancel_panel_content">
                            <div class="station_number">
                                <h1>{{tempStation.stationNumber}}</h1>
                            </div>
                            <div class="gamer_name">
                                <h6>{{tempStation.username}}</h6>
                            </div>
                            <div class="game_boxart">
                                <img src="{{tempStation.boxart}}" alt="Game Box Art">
                            </div>
                            <div class="gts_timer">
                                <h6 class="time_in">{{tempStation.currentTime}}</h6>
                                <h6 class="countdown">{{tempStation.countdownHours}}:{{tempStation.countdownMin}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="custom cancel_reason">
                <select id="cancel_dropdown" class="medium">
                    <option>Left Early</option>
                    <option>Some Reason</option>
                </select>
            </form>
            <!-- Comment needed to cancel -->
            <div class="cancel_button">
                <a class="cancel_gamer_button button" ng-click="deleteActiveStation(tempStation)">Cancel Gamer</a>
            </div>
        </div>
    </div>
</div>
