<!-- Nav Top Bar -->
<div class="top_bar" ng-controller="Core">
    <!--<div class="top_half_bar"></div>-->
    <div class="bars row">
        <div id="logo">
            <!-- LOGO -->
            <a href="#/"><img src="views/img/logo.png" alt="Logo"></a>  <!-- END LOGO -->
        </div>
        <div class="user_panel">

            <ul class="user_nav button-group">
                <li><a id="displayName" href="#" data-dropdown="user_settings" class="small button dropdown">User Settings</i> </a></li>
            </ul>
            <form novalidate ng-click="logout()">
                <ul id="user_settings" data-dropdown-content class="f-dropdown">
                    <li><a href="#" id="logout" class="small button a_dropdown">Logout</a></li>
                </ul>
            </form>
            <img id="profilePic" src="" alt="Small Profile Picture">
        </div>
    </div><!-- End top_half_bar -->
</div><!-- End top-bar -->

<div id="top">
    <!--<div id="logo" class="row">-->
    <!--&lt;!&ndash; LOGO &ndash;&gt;-->
    <!--<object data="img/logo.svg" type="image/svg+xml" class="gamer_logo">-->
    <!--</object> &lt;!&ndash; END LOGO &ndash;&gt;-->
    <!--</div>-->

    <!-- Navigation -->
    <div id="main_nav" class="row">
        <nav class="top-bar">
            <section class="top-bar-section">
                <ul class="right top_nav">
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li id="mobile_menu" class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    <li><a href="#"><i class="icon-home home_icon"></i></a> </li>

                    <li class="divider"></li>
                    <li class="active"><a href="#">League/Tournaments</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Games</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown"><a href="#">About Us</a>

                        <ul class="dropdown">
                            <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

                                <ul class="dropdown">
                                    <li><label>Dropdown Level 2 Label</label></li>
                                    <li><a href="#">Dropdown Level 2a</a></li>
                                    <li><a href="#">Dropdown Level 2b</a></li>
                                    <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                                        <ul class="dropdown">
                                            <li><label>Dropdown Level 3 Label</label></li>
                                            <li><a href="#">Dropdown Level 3a</a></li>
                                            <li><a href="#">Dropdown Level 3b</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Dropdown Level 3c</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Dropdown Level 2d</a></li>
                                    <li><a href="#">Dropdown Level 2e</a></li>
                                    <li><a href="#">Dropdown Level 2f</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown Level 1b</a></li>
                            <li><a href="#">Dropdown Level 1c</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Dropdown Level 1d</a></li>
                            <li><a href="#">Dropdown Level 1e</a></li>
                            <li><a href="#">Dropdown Level 1f</a></li>
                            <li class="divider"></li>
                            <li><a href="#">See all &rarr;</a></li>
                        </ul>
                </ul>
            </section>
        </nav>
    </div> <!-- END NAVIGATION -->



    <!-- Staff Page -->
    <div class="middle">
        <div class="row staff_columns">
            <ul class="admin_nav button-group">
                <li><a href="#" data-dropdown="admin_dd" class="small button dropdown">Admin Settings</i> </a></li>
            </ul>
            <ul id="admin_dd" data-dropdown-content class="f-dropdown">
                <li><a href="#/admin" class="small button a_dropdown">GTS</a></li>
                <li><a href="#/admin_users" class="small button a_dropdown">Users</a></li>
                <li><a href="#/admin_staff" class="small button a_dropdown">Staff</a></li>
                <li><a href="#/admin_station" class="small button a_dropdown">Station</a></li>
                <li><a href="#/admin_systems" class="small button a_dropdown">System</a></li>
                <li><a href="#/admin_games" class="small button a_dropdown">Games</a></li>
            </ul>



            <div class="splitter"></div>

            <!-- Add Gamer to GTS -->
            <form>
                <fieldset>

                   <label>Email Address:</label>
                    <input id="username"class="staff_add_gamer" type="text" ng-model="tempUser">
                    <form class="custom">
                    </form>
                    <label>Station</label>
                    <form class="custom">
                        <select id="customDropdown" class="medium">
                            <option ng-repeat="station in stations" value="{{station.number}}">{{station.number}}</option>
                        </select>
                    </form>
                    <label>Games</label>
                    <form class="custom">
                        <select id="games_option" class="medium">
                            <option ng-repeat="game in games" value="{{game.gameTitle}}">{{game.gameTitle}}</option>
                        </select>
                    </form>
                    <label>Time(Minutes)</label>
                    <form class="custom">
                        <select id="time_dropdown" class="medium">
                            <option value="0">0</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                            <option value="90">90</option>
                            <option value="120">120</option>
                            <option value="150">150</option>
                        </select>
                    </form>

                    <button ng-click="addActiveStation()">Play!</button>
                    <a href="#/admin" class="button">Cancel</a>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="footer">

        </div>
    </div>