<!-- Login/Signup Page -->
<div class="middle">
    <div class="row staff_columns">

        <div id="queue_content">
            <h2>Login/Become A Gamer?</h2>
            <div class="large-6 columns">
                <div class="login_form">
                    <h1>Login</h1>
                    <form>
                        <label>Email Address</label>
                        <input class="input_login" type="text" placeholder="email@email.com">
                        <label>Password</label>
                        <input class="input_login" type="text" placeholder="Password">

                        <a href="#" class="button">Login</a> or <a href="" ng-click="login()"><img class="fb_login" src="views/img/fb_login.png"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>